<%# The Content heading %>

    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <%# messages() %>

                <%# The Inventpry Items Display %>

                    <%- grid %>