<%# The Content heading %>

    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>
            <%# messages() %>

                <%# The Inventory Items Display %>
                    <%- detail %>

                        <%- reviews %>

                            <%# variable that holds HTML for ItemDetail view goes here. %>